<div class="container">
  <ul>
    <% @websites.each do |website| %>
      <li><%= link_to website.name, website_path(website) %></li>
    <% end %>
  </ul>
</div>

<%= content_for :menu do %>
  <li><%= link_to "Websites", websites_path %></li>
  <li><%= link_to "New Website", new_website_path %></li>
<% end %>
