.content-body p {
  position: relative !important;
}

.hearme-paragraph {
  background: #eee;
  border-radius: 50% !important;
  color: #333;
  cursor: pointer !important;
  display: block !important;
  height: 40px !important;
  line-height: 40px !important;
  margin-top: -20px !important;
  position: absolute !important;
  right: -60px !important;
  text-align: center !important;
  text-decoration: none !important;
  opacity: 0.2 !important;
  top: 50% !important;
  width: 40px !important;

  -webkit-transition: opacity .3s !important;
  transition: opacity .3s !important;
}

.hearme-paragraph:before {
  content: "" !important;
  width: 60px !important;
  height: 100% !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}

.hearme-paragraph > svg {
  box-sizing: border-box !important;
  padding: 5px !important;
  width: 40px !important;
  opacity: 1;

  -webkit-transition: opacity .3s !important;
  transition: opacity .3s !important;
}

.hearme-paragraph-opened {
  z-index: 10000000 !important;
  opacity: 1 !important;
}

.hearme-actions {
  background: #eee;
  color: #333;
  cursor: default !important;
  position: absolute !important;
  z-index: 10000000 !important;
  width: 200px !important;
  top: 0 !important;
  text-align: left !important;
}

.hearme-button {
  cursor: pointer !important;
  display: block !important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 12px !important;
  font-weight: bold !important;
  line-height: 1.35 !important;
  padding: 10px !important;
  text-align: left !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  border-bottom: 1px solid #fff !important;
}

.hearme-count {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 11px !important;
  font-weight: normal !important;
  line-height: 1.35 !important;
  font-size: 12px !important;
  text-transform: none !important;
  display: block !important;
}

.hearme-count svg {
  width: 27px !important;
  height: 16px !important;
}

.hearme-curtain {
  display: block !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  background: transparent !important;
  z-index: 9999999 !important;
  cursor: default !important;
}

.content-body p:hover .hearme-paragraph {
  display: block !important;
  opacity: 1 !important;
}
