.content-body p {
  position: relative !important;
}

.whatnow-paragraph {
  background: #eee;
  border-radius: 50% !important;
  color: #333;
  cursor: pointer !important;
  display: block !important;
  height: 40px !important;
  line-height: 40px !important;
  margin-top: -20px !important;
  position: absolute !important;
  right: -60px !important;
  text-align: center !important;
  text-decoration: none !important;
  opacity: 0.2 !important;
  top: 50% !important;
  width: 40px !important;

  -webkit-transition: opacity .3s !important;
  transition: opacity .3s !important;
}

.whatnow-paragraph:before {
  content: "" !important;
  width: 60px !important;
  height: 100% !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}

.whatnow-paragraph > svg {
  padding: 5px !important;
  width: 30px !important;
  opacity: 1;

  -webkit-transition: opacity .3s !important;
  transition: opacity .3s !important;
}

.whatnow-paragraph-opened {
  z-index: 10000000 !important;
  opacity: 1 !important;
}

.whatnow-paragraph-opened > svg {
  opacity: 0;
}

.whatnow-actions {
  background: #eee;
  color: #333;
  cursor: default !important;
  position: absolute !important;
  z-index: 10000000 !important;
  width: 200px !important;
  right: 50px !important;
  top: 0 !important;
}

.whatnow-actions:after {
  content: "";
  width: 10px;
  height: 10px;
  background: inherit;
  position: absolute;
  top: 15px;
  right: -5px;
  transform: rotate(45deg);
}

.whatnow-button {
  cursor: pointer !important;
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 11px !important;
  letter-spacing: 0.1em !important;
  line-height: 1.35 !important;
  padding: 10px;
  text-align: left !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
}

.whatnow-count {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  line-height: 1.35 !important;
}

.whatnow-tell-me-more {

}

.whatnow-make-it-clearer {

}

.whatnow-prove-it {

}

.whatnow-curtain {
  display: block !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  background: transparent !important;
  z-index: 9999999 !important;
  cursor: default !important;
}

.content-body p:hover .whatnow-paragraph {
  display: block !important;
  opacity: 1 !important;
}
