html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

a {
  color: #D8352A;

  &:visited {
    color: darken(#D8352A, 10%)
  }
}
