.pages-home {
  .heading {
    background: #fafafa;
    padding: 0;

    svg {
      height: 100vh;
    }
  }

  .container {
    img {
      width: auto;
      float: left;
      margin-right: 20px;
    }
  }
}
