.menu-bar {
  background: #eee;
  flex: 1 120px;
  min-width: 120px;

  svg {
    width: 60px;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  ul {
    @include clearfix;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    display: block;
    background: #eee;
    padding: 10px;

    &:hover {
      background: #fafafa;
    }
  }
}
